# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: hjordan <marvin@42.fr>                     +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2020/11/23 14:45:57 by hjordan           #+#    #+#              #
#    Updated: 2020/11/29 03:11:55 by hjordan          ###   ########lyon.fr    #
#                                                                              #
# **************************************************************************** #

*.out
*.o
*.a
*.DS_Store
.vscode/
